body { font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
header {
    background-color: #E7E9FC;
}
.logo { 
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-part {
color: #2E2F42;
font-family: "Raleway", sans-serif;
}
.nav-main {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
.nav-main .studio {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.02em;
}
.nav-main:hover,
.nav-main:focus {
    color: #4D5AE5;
}
.nav-main .studio:hover,
.nav-main .studio:focus
 {
    color: #404bbf;
}

.nav-main .studio:active {
    color: #4D5AE5;
    text-decoration: underline;
}
.contacts {
    font-style: normal;
}
.contacts .cont-link {
    font-size: 16px;
    line-height: 1.5em;
    color: #434455;
    letter-spacing: 0.02em;
}
.contacts .cont-link:hover,
.contacts .cont-link:focus
 {
    color: #404bbf;
 }
.first {
    background-color: #2e2f42;
}
.first .main-header {
    text-align: center;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.07em;
    letter-spacing: 0.02em;
}
.order {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.order:hover,
.order:focus {
    background-color: #404BBF;
}
.second {
    background-color: ;
}
.value-header {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}
.text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
.third {
    background-color: #F4F4FD;
}
.team-header {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.team-back {
    background-color: #FFFFFF;
}
.team {
    color:#2E2F42;
    font-size: 20px;
     font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
}
.team-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
.portf-header {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.foot {
    background-color: #2E2F42;
}
.text-two {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.foot-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.foot-logo-part {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}